.t-blog
  .o-side__left
<<<<<<< HEAD
  %main.o-main__disableFlex
    %content Update
    %ul.m-articleBox
      %li
      | test1
      %li
      | test
      %li
      | test
      %li
      | test
      %li

    %content Task memo
    %ul.m-articleBox
      %li
      | test1
      %li
      | test
      %li
      | test
      %li
      | test
=======
  %main.o-main
    %content Update
    %ul.m-menu__list
      %li

    %content Task memo
    %ul.m-menu__list
>>>>>>> de2f6835a9f54dafd799c47075735508e4a10c0e
      %li
  .o-side__right
