.t-blog
  .o-side__left
  %main.o-main__disableFlex
    %content Update
    %ul.m-articleBox
      %li
      | test1
      %li
      | test
      %li
      | test
      %li
      | test
      %li

    %content Task memo
    %ul.m-articleBox
      %li
      | test1
      %li
      | test
      %li
      | test
      %li
      | test
      %li
  .o-side__right
