.t-blog
  .o-side__left
  %main.o-main
  
    %ul.m-menu__list
      %li
      | test1
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test
      %li
      | test

  .o-side__right
