.t-blog
  .o-side__left
    %ul
      %li
        | sort!
      %li
        \-> .tag?
      %li
        Ruby
      %li
        \-> .date?
      %li
        Oct.2018
      %li
        \-> .keyword?
      %li
      %li
        Food

  %main.o-main
    %section.m-articleBox
      %h2 title
      %article context
      %h3 #tag
    %section.m-articleBox
      %h2 title
      %article context
      %h3 #tag
    %section.m-articleBox
      %h2 title
      %article context
      %h3 #tag
    %section.m-articleBox
      %h2 title
      %article context
      %h3 #tag

  .o-side__right


