.t-blog
  .o-side__left
  %main.o-main
    %h1 Statics#author
    %p Find me in app/views/statics/author.html.haml
    %h2 Akane Yamashita
    %span
      元社会福祉士、なんちゃって画家、糖尿予備軍。
    %h3 Github
  .o-side__right
