.t-static
<<<<<<< HEAD
  .o-side__left.-line
=======
  .o-side__left
  %main.o-main
    %h1 Statics#author
    .m-articleBox__profile
      .a-box
        %h2 Akane Yamashita
        = image_tag 'p.jpg', alt: '', height: '', width: '340px', class: '', style: "object-fit: contain;"
      .a-box
        %span
          元社会福祉士、なんちゃって画家、糖尿予備軍。
        %span
          米津玄師と西島秀俊に緩くはまっている
        %span
          リアルにときめくのは枯れ目or三角形筋肉body
     
>>>>>>> de2f6835a9f54dafd799c47075735508e4a10c0e
    %h3 Github
    = link_to "https://github.com/ixap2i" do
      .a-button__here
        = image_tag 'github.gif', alt: '', height: '', width: '50px', style: "object-fit: contain;"
<<<<<<< HEAD

  %main.o-main
    %h1 Statics#author
    .m-articleBox__profile
      .a-box
        %h2 Akane Yamashita
        = image_tag 'p.jpg', alt: '', height: '', width: '340px', class: '', style: "object-fit: contain;"
      .a-box
        %span
          元社会福祉士、なんちゃって画家、糖尿予備軍。
        %span
          米津玄師と西島秀俊に緩くはまっている
        %span
          リアルにときめくのは枯れ目or三角形筋肉body
     
=======
>>>>>>> de2f6835a9f54dafd799c47075735508e4a10c0e
  .o-side__right
