.o-main {
  // background: rgb(245, 245, 199);
  justify-content: space-evenly;
  // display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  height: 100%;
  width: 100%;
  flex: 5;
  overflow-y: scroll;
  &__column {
    // background: rgb(228, 228, 192);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;  
    flex-direction: column;
  }
}