@import 'frame-settings';

.o-side {
  width: $o-side-left-width;
  height: 100%;
  position: absolute;
  background: rgb(118, 154, 187);
  &__right {
    background: rgb(250, 204, 119);
    flex: 1;
  }
  &__left {
    width: $o-side-left-width;
    position: fixed;
    &.-fixed {
      position: fixed;
      width: 100%;
    }
  }
}