.p-top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .o-header {
    display: flex;
    background: url(shunrai.jpg) no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: bottom;  
    justify-content: center;
    overflow-x: scroll;
  }
  .t-blog {
    flex: 30%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}