/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin: 0;
  font-family: 'YuGo', 'Verdana';
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #201b1b;
  font-size: 12pt;
  position: relative;
  transition: 2s;
  font-weight: 900;
  &:hover {
    transition: 2s;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(47, 47, 212, 0.404);
      mix-blend-mode: difference;
      filter: grayscale(100%) sepia(30%) brightness(110%) contrast(110%) ;
      -webkit-filter: grayscale(100%) sepia(30%) brightness(110%) contrast(110%) ;
      -moz-filter: grayscale(100%) sepia(30%) brightness(110%) contrast(110%) ;
      -o-filter: grayscale(100%) sepia(30%) brightness(110%) contrast(110%) ;
      -ms-filter: grayscale(100%) sepia(30%) brightness(110%) contrast(110%) ;
      transition: 2s;
    }
  }
}

h1 {
  margin: initial;
}

input, select {
  width: 100%;
  border: dashed 2px #eaeaea;
  border-radius: 3px;
  margin: 5px 8px;
  outline: none;
  padding: 5px 8px;
}